@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col10: hsl(170, 50%, 10%);
    --col30: hsl(170, 50%, 30%);
    --col90: hsl(170, 80%, 90%);
    --col100: hsl(170, 80%, 100%);
    --accent: hsl(230, 80%, 80%);
    --p: 1rem/1.5em var(--pff);
    --h1: 600 3rem/1.2em var(--hff);
    --h2: 600 2rem/1.2em var(--hff);
    --spc1: 4px;
    --spc2: 8px;
    --spc3: 16px;
    --spc4: 20px;
    --spc5: 40px;
    --spc6: 80px;
    --spc7: 160px;
}

body {
    background-color: var(--col10);
    font-family: 'Sen', sans-serif;
}

.heading {
    margin: var(--spc4) var(--spc5);
    border: var(--col90) solid 2px;
    border-radius: var(--spc2);
    padding: var(--spc5);
    background-image: url(img/nanahiraop.jpg);
}

.pfp {
    width: 1em;
    height: 1em;
    margin-left: var(--spc4);
    border-radius: var(--spc4);
}

h1 {
    color: var(--accent);
}

p {
    color: var(--col100);
}

.btn {
    padding: var(--spc2);
    background-color: var(--col100);
    color: var(--col30);
    text-decoration: none;
    border-radius: var(--spc1);
    transition: background-color 300ms;
}

.btn:hover {
    background-color: var(--col90);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: var(--spc4) var(--spc5);
    border-radius: var(--spc5);
  }
  
  .grid-container > div {
    background-color: #303030;
    text-align: left;
    padding: var(--spc4);
    font-size: 25px;
    font-weight: bold;
    border-radius: var(--spc2);
    border: solid var(--col90) 2px;
    color: var(--accent);
    transition: background-color 500ms;
  }

  .grid-container > div:hover {
    background-color: #3b3b3b;
    border: solid var(--col100) 2px;
    color: hsl(231, 57%, 86%);
  }
  
  .item1 {
    grid-row: 1 / span 2;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75) ), url(img/GLwwiKlaIAA7ADZ.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .item1:hover {
    background-image: linear-gradient( rgba(80, 80, 80, 0.5), rgba(80, 80, 80, 0.75) ), url(img/GLwwiKlaIAA7ADZ.png);
  }
  
.item2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75) ), url(img/3F3F\ 3F_-Pochi_korone-_2e.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
}

.item2:hover {
    background-image: linear-gradient( rgba(80, 80, 80, 0.5), rgba(80, 80, 80, 0.75) ), url(img/3F3F\ 3F_-Pochi_korone-_2e.png);
  }

.item3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75) ), url(img/GeoVXCrWMAA6K72.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
}

.item3:hover {
    background-image: linear-gradient( rgba(80, 80, 80, 0.5), rgba(80, 80, 80, 0.75) ), url(img/GeoVXCrWMAA6K72.jpg);
  }

  @media(max-width: 650px) {
    .heading {
        padding: var(--spc4);
        border: none;
        border-radius: 0;
        margin: 0;
        width: 100%;
    }
    .grid-container {
        margin: var(--spc1)
    }
}