@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col10: hsl(170, 50%, 10%);
    --col30: hsl(170, 50%, 30%);
    --col90: hsl(170, 80%, 90%);
    --col100: hsl(170, 80%, 100%);
    --accent: hsl(230, 80%, 80%);
    --hff:'Radley', serif;
    --pff: 'Sansation', sans-serif;
    --p: 1rem/1.5em var(--pff);
    --h1: 600 3rem/1.2em var(--hff);
    --h2: 600 2rem/1.2em var(--hff);
    --spc1: 4px;
    --spc2: 8px;
    --spc3: 16px;
    --spc4: 20px;
    --spc5: 40px;
    --spc6: 80px;
    --spc7: 160px;
}

body {
    background-color: var(--col10);
    display: flex;
    justify-content: center;

}

.heading {
    margin: auto;
}

h1 {
    color: var(--accent);
}