@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col10: hsl(170, 50%, 10%);
    --col30: hsl(170, 50%, 30%);
    --col90: hsl(170, 80%, 90%);
    --col100: hsl(170, 80%, 100%);
    --accent: hsl(230, 80%, 80%);
    --p: 1rem/1.5em var(--pff);
    --h1: 600 3rem/1.2em var(--hff);
    --h2: 600 2rem/1.2em var(--hff);
    --spc1: 4px;
    --spc2: 8px;
    --spc3: 16px;
    --spc4: 20px;
    --spc5: 40px;
    --spc6: 80px;
    --spc7: 160px;
}

body {
    background-color: var(--col10);
    display: flex;
    justify-content: center;
    font-family: 'Sen', sans-serif;
}

.heading {
    margin: var(--spc4) auto;
    border: var(--col100) solid 2px;
    border-radius: var(--spc2);
    padding: var(--spc5) var(--spc7);
    background-image: url(img/nanahiraop.jpg);
}

.pfp {
    width: 1em;
    height: 1em;
    margin-left: var(--spc4);
    border-radius: var(--spc4);
}

h1 {
    color: var(--accent);
}

p {
    color: var(--col100);
}

.btn {
    padding: var(--spc2);
    background-color: var(--col100);
    color: var(--col30);
    text-decoration: none;
    border-radius: var(--spc1);
    transition: background-color 300ms;
}

.btn:hover {
    background-color: var(--col90);
}

@media(max-width: 600px) {
    .heading {
        padding: var(--spc4);
        border: none;
    }
}