#particles-js {
            position: absolute; /* Memposisikan di belakang konten */
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1; /* Penting agar konten utama berada di atasnya */
        }